@import url('https://fonts.googleapis.com/css?family=Muli:700');

body {
  font-family: 'Muli', sans-serif !important;
  color: #801616 !important;
}

.center-vertical {
  position: absolute;
  top: 50%;
  transform: translateY(50%);
}

a {
  color: #E8453C !important
}

#title {
  margin-top: 50px;
  margin-bottom: 50px;
}

#artist-window, #artist-bar, #map, #artist-info {
  min-height: 350px;
  height: 50vh;
  width: 100%;
}

#scrollable {
  overflow: auto;
  height: 50vh;
  background-color: white;
}

#artist-image {
  max-height: 250px;
}

.head {
  padding-top: 25px;
}
