@import url('https://fonts.googleapis.com/css?family=Muli:700');

body {
  font-family: 'Muli', sans-serif !important;
  color: #801616 !important;
}

.center-vertical {
  position: absolute;
  top: 50%;
  transform: translateY(50%);
}

a {
  color: #E8453C !important;
  /* word-break: break-all !important; */
}

.scroll-info {
  font-size: 12px !important;
}

#title {
  margin-top: 50px;
  margin-bottom: 50px;
}

.content {
  margin-left: 50px;
  margin-right: 50px;
}

#artist-window, #artist-info {
  min-height: 350px;
  height: 50vh;
  width: 100%;
  /* word-break: break-all !important; */
}

#map, #artist-bar, #gig-list {
  min-height: 350px;
  height: 60vh;
  width: 100%;
}

.scrollable {
  padding: 10px;
  border-radius: 5px;
  overflow-y: auto;
  height: 50vh;
  /* word-break: break-all !important; */
  background-color: #E8D5D5;
}

#artist-image {
  max-height: 250px;
}

.head {
  padding-top: 25px;
}
