{% extends 'artists/base.html' %}
{% load static %}

{% block content %}
  <div id="title">
    <h1><b>the billboard artist 100</b></h1>
    <h6><i>a look into the concert history of charted billboard artists</i></h6>
    <p style="font-size:8px">By Andrea Gonzales | Durham, NC</p>
  </div>
  <div class="row">
    <div class="col-md-2">
      <div id="artist-window">
        <h6><i>Select an charted artist to see events and more</i></h6>
        <div class="scrollable">
          {% if artist_list %}
              {% for artist in artist_list %}
                  <a class="scroll-info" href="{% url 'info' artist.id %}">{{ artist.rank }}. {{ artist.name }}</a>
                  <hr>
              {% endfor %}
          {% else %}
              <a href="#">No artists are available.</a>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="col-md-10">
      <div id="artist-bar"></div>
    </div>
  </div>
{% endblock %}

{% block script %}
    <script src="{% static 'artists/js/home.js' %}"></script>
    <script src="{% static 'artists/js/bar.js' %}"></script>
{% endblock %}
